.blog {
    color: #fff;
}

.blog-content {
    position: relative;
    top: 0;
    left: 0;
    @include padding(2em, 2em, 2em, 2em);
    z-index: 3000;
    //transition: all 0.4s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.6);
        z-index: -1;
    }
}

// SHAME
.blog {
    @include media-title($color: #5279D3);
    margin: 0;
}

.fade-transition {
  transition: all 0.8s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.fade-enter, .fade-leave {
  opacity: 0;
  visibility: hidden;
}