.fluid-social {
    margin-top: 3em;
    font-size: 1.4rem;
    width: 100%;
    color: #fff;
    @include flex($justify: space-around);

    &__links {
        position: relative;        
        flex: 1;
        @include flex($justify: center, $align: center);
    }

    @include break(lg) {
        margin-top: 8em;  
        font-size: 1rem;      
        width: 23em;

        &__links {

            &:nth-child(2) {
                left: -2.6em;
                top: -3em;
            }

            &:nth-child(n+3) {
                right: 5.2em;
            }

            &:last-child {
                top: -3em;
                right: 7.8em;
            }

            // Triangle effect - refactor to mixin?
            &:before {
                content: '';
                position: absolute;
                height: 4em;
                width: 4em;
                background: $secondary-site-color;
                z-index: -1;
                transform: rotate(45deg);
            }
        } // ./links
    } // ./break
}