.project {
   
    &-content {
         position: relative;
         border-bottom: 1px solid #545454;
         
         &:not(:last-child) {
             margin-bottom: 3em;
         }
    }

    @include media-title($color: #5279D3);

    &__tech-list {
        color: #5279D3;
        font-size: .8rem;
        font-style: italic;
    }
}