$base-font-family: 'Oswald', sans-serif;
$base-heading-font-family: 'Oswald', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-heading-font-family;
    letter-spacing: .05em;
    text-transform: uppercase;
}

p,
li,
span,
a {
    font-family: $base-font-family;
    letter-spacing: .03em;
}

p {
    line-height: 2.4em;
}