.portfolio {
	padding: 2em;
	display: flex;

	&__content {
		width: 100%;
	}

	&__title {
		font-size: 1.5em;
		width: 100%;
		margin-bottom: 1.5em;
	}

	&__list > li {
		margin-bottom: 2em;
		display: block;
	}

	&__item {
		float: left;
		width: 80%;
	}

	&__list-title {
		font-size: 1.2em;
	}

	&__list-description {
		font-size: .7em;
		font-style: italic;
	}

	&__links {
		float: right;

		> li {
			display: inline;
			margin-right: .8em;
		}

	}

}
